name: Docker Image CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup configuration
      run: cp .env-example .env
    - name: Build the Docker image
      run: docker compose build

